.titleBar{
  background-color: purple;
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 3vh;
  -webkit-app-region: drag;
}

.navBar{
  background-color: #940094;
  width: 20vw;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 15px;
}

.navItem {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.8vh;
  color: #b7b8b9;
  text-shadow: 3px 3px 10px black;
  border-bottom-left-radius: 15px;
}

.navItem:hover{
  background-color: #b50eb5;
  cursor: pointer;
  transition: 1s ease-out;
}

.content {
  background:#942694;
    width: 100%;
    -webkit-app-region: no-drag;
    border-bottom-right-radius: 15px;
}

.contentPane{
  display:flex;
}
